.left-nav {
	width: 20%;
	position: fixed;
	height: 100%;
	left:0; 
	top: 48px;
	background: rgba(0, 0, 0, 0.7);
	display: none
}

.right-nav {
	width: 20%;
	position: fixed;
	height: 100%;
	right:0; 
	top: 48px;
	background: rgba(0, 0, 0, 0.7);
	display: none
}

.content-padding {
	overflow-y: auto
}

.sidebar-title {
	font-size: 10px;
	text-transform: uppercase;
	padding: 10px 10px 0 10px;
	font-weight: bold;
	color: #ccc;
}

.notification-box {
	background: rgba(255, 255, 255, 0.1);
	margin: 10px;
	padding: 10px;
	font-size: 12px;
	color: #ccc
}

.notification-box img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

.notification-box span{
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 5px;
	margin-top: 10px;
}

.card-container{
	width:60%;
	margin: auto
}

.pantheon-logo{
	text-align: center;
	margin-top: 20px;	
	margin-bottom: 40px	
}

.user-name{
	background: rgba(0, 0, 0, 0.7);
	display: block;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 10px;
	text-transform: uppercase;
	color: #999999;
	margin-right: 5px;
	display: none
}

.user-card{
	width: 33.333%;
	float: left;	
}

/* Stream View */
.user-card.stream{
	width: 100%	
}
.user-card.stream img{
	display: none
}
/* Stream View */

.user-card .inner-margin{
	background: rgba(0, 0, 0, 0.7);
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid rgba(0, 148, 255, 0.3);
-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 1);
}

.user-card .new-user{

}

.user-card img{
	width: 100%;
	padding: 5px 5px 0 5px
}
.user-card ul{
	padding: 10px;
	list-style-type: none
}
.user-card ul li{
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 10px;
	text-transform: uppercase;
	color: #999999
}
.user-card ul li:last-child{
	border-bottom: none;
	margin: 0;
	padding: 0
}
.fab{
	position: fixed;
	right: 20px;
	bottom: 20px;
	background:url(../moon.png) no-repeat center !important
}