<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Choose a Role</title>
<link rel="stylesheet" type="text/css" href="css/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/docs.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/tomas.css">
<link rel="stylesheet" type="text/css" href="css/pantheonPollMaster.css">
</head>
<body ng-controller="appCtrl">
<div id="applicationContainer" layout="horizontal">
  <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">
    <material-toolbar class="pantheonToolbar" ng-class="{template:isTmpl}" layout-align="center center"> <img src="assets/images/logo-small.png"> </material-toolbar>
    <material-content flex>
      <div> 
        
        <!--tomas code--> 
        
        <!--tomas code--> 
        
      </div>
    </material-content>
  </material-sidenav>
  <div layout="vertical" layout-fill ng-class="{mainContentPolls:view,mainContentTemplates:!view}">
    <material-toolbar  id="appToolbar" scroll-shrink class="pantheonToolbar">
      <div layout="horizontal">
        <div class="material-toolbar-tools">
          <div id="menu-drawer-button" class="menu-icon" ng-click="toggleMenu()"> <img src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_wht_24dp.png"> </div>
          <h2 id="appTitle" class="toolbarTitle">Choose a Role</h2>
        </div>
      </div>
    </material-toolbar>
    <div class="content-padding">
      <div class="card-container">
        <div id="bigLogo" class="pantheon-logo"><img src="assets/images/logo.png"></div>
        <div class="roleCard">
          <div class="inner-margin new-user"><img src="assets/images/black-avatar.png">
            <div class="roleName" title="Add a Role">Add a Role</div>
          </div>
        </div>
        <div title="Role Card" class="roleCard" ng-repeat="role in roles track by role.name">
          <div class="inner-margin">
            <div title="Role Avatar"><img src="assets/images/tomas.png"></div>
            <div class="roleName" title="Role Name">{{role.name}}</div>
            <div class="roleDescription">This is a little description to show how this thing would look like</div>
            <div class="editBar" title="roleCardHoverMenu" layout="horizontal" layout-align="end start">
              <material-button class="material-button-icon overflowMenuButton" ng-click="overflowToggle(poll)" title="Overflow Menu"> <img class="overflowMenuIcon" ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_18dp.png"> </material-button>
            </div>
          </div>
        </div>
      </div>
      <material-button class="material-button-fab material-theme-light-blue fab">
        <material-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_add_wht_24dp.png" style="width: 24px; height: 24px;"></material-icon>
      </material-button>
    </div>
  </div>
</div>
<script src="bower_components/angular/angular.js" type="text/javascript"></script> 
<script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script> 
<script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script> 
<script src="js/angular-material.js" type="text/javascript"></script> 
<script src="bower_components/japi/mocks/mockJapi.js" type="text/javascript"></script> 
<script src="bower_components/japi/js/japi.js" type="text/javascript"></script> 
<script src="js/app.js" type="text/javascript"></script>
</body>
</html>
